body {
    background-color: #ffffff;
}

.foter style{ background-color: #2e2f42 ;
    




}

.logotype {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
 
}